.flows.json.backup
[
    {
        "id": "7b2a9965.03ad18",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "9b3ae8de.501258",
        "type": "mongodb",
        "z": "7b2a9965.03ad18",
        "hostname": "ds047146.mlab.com",
        "port": "47146",
        "db": "travel_site",
        "name": ""
    },
    {
        "id": "e4afdbf1.506aa8",
        "type": "http in",
        "z": "7b2a9965.03ad18",
        "name": "",
        "url": "/search",
        "method": "get",
        "swaggerDoc": "",
        "x": 97.5,
        "y": 91,
        "wires": [
            [
                "dae306c0.b9a698"
            ]
        ]
    },
    {
        "id": "4f16cabe.278c84",
        "type": "http response",
        "z": "7b2a9965.03ad18",
        "name": "",
        "x": 418.5,
        "y": 98,
        "wires": []
    },
    {
        "id": "814cbe67.5d98d",
        "type": "mongodb in",
        "z": "7b2a9965.03ad18",
        "mongodb": "9b3ae8de.501258",
        "name": "Mongo Lab",
        "collection": "Destinations",
        "operation": "find",
        "x": 265.5,
        "y": 231,
        "wires": [
            [
                "4f16cabe.278c84"
            ]
        ]
    },
    {
        "id": "dae306c0.b9a698",
        "type": "change",
        "z": "7b2a9965.03ad18",
        "name": "Limit: 10",
        "rules": [
            {
                "t": "set",
                "p": "limit",
                "pt": "msg",
                "to": "10",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "skip",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 141.5,
        "y": 160,
        "wires": [
            [
                "814cbe67.5d98d"
            ]
        ]
    }
]