.flows.json.backup
[
    {
        "id": "7b2a9965.03ad18",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "9b3ae8de.501258",
        "type": "mongodb",
        "z": "7b2a9965.03ad18",
        "hostname": "ds047146.mlab.com",
        "port": "47146",
        "db": "travel_site",
        "name": ""
    },
    {
        "id": "cc5605e6.ad7fc8",
        "type": "instagram-credentials",
        "z": "7b2a9965.03ad18",
        "username": "shaina3300"
    },
    {
        "id": "e4afdbf1.506aa8",
        "type": "http in",
        "z": "7b2a9965.03ad18",
        "name": "",
        "url": "/search",
        "method": "get",
        "swaggerDoc": "",
        "x": 97.5,
        "y": 91,
        "wires": [
            [
                "dae306c0.b9a698"
            ]
        ]
    },
    {
        "id": "4f16cabe.278c84",
        "type": "http response",
        "z": "7b2a9965.03ad18",
        "name": "",
        "x": 740.5,
        "y": 85,
        "wires": []
    },
    {
        "id": "814cbe67.5d98d",
        "type": "mongodb in",
        "z": "7b2a9965.03ad18",
        "mongodb": "9b3ae8de.501258",
        "name": "Mongo Lab",
        "collection": "Destinations",
        "operation": "find",
        "x": 508.5,
        "y": 94,
        "wires": [
            [
                "4f16cabe.278c84"
            ]
        ]
    },
    {
        "id": "dae306c0.b9a698",
        "type": "change",
        "z": "7b2a9965.03ad18",
        "name": "Limit: 10",
        "rules": [
            {
                "t": "set",
                "p": "limit",
                "pt": "msg",
                "to": "10",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "skip",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 265.5,
        "y": 99,
        "wires": [
            [
                "814cbe67.5d98d"
            ]
        ]
    },
    {
        "id": "40724535.a2fafc",
        "type": "inject",
        "z": "7b2a9965.03ad18",
        "name": "add basic city",
        "topic": "",
        "payload": "{\"city\":\"Marrakech\", \"language\":\"Arabic\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 106.5,
        "y": 192,
        "wires": [
            [
                "4f41dae3.062704"
            ]
        ]
    },
    {
        "id": "4f41dae3.062704",
        "type": "mongodb out",
        "z": "7b2a9965.03ad18",
        "mongodb": "9b3ae8de.501258",
        "name": "Insert data",
        "collection": "Destinations",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 278.5,
        "y": 190,
        "wires": []
    },
    {
        "id": "3f3e4ee4.c1c2b2",
        "type": "instagram in",
        "z": "7b2a9965.03ad18",
        "instagram": "cc5605e6.ad7fc8",
        "inputType": "photo",
        "outputType": "buffer",
        "name": "",
        "x": 81.5,
        "y": 297,
        "wires": [
            []
        ]
    },
    {
        "id": "80729ee0.0e5e2",
        "type": "http in",
        "z": "7b2a9965.03ad18",
        "name": "post",
        "url": "/search",
        "method": "post",
        "swaggerDoc": "",
        "x": 91.5,
        "y": 41,
        "wires": [
            [
                "dae306c0.b9a698"
            ]
        ]
    },
    {
        "id": "6b80f48.b44ff0c",
        "type": "http request",
        "z": "7b2a9965.03ad18",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": " https://api.instagram.com/v1/users/594916843/media/recent/?access_token=4006211828.1677ed0.9258763943704c289a987416778e08ab",
        "tls": "",
        "x": 284.5,
        "y": 387,
        "wires": [
            [
                "66704476.9f3e4c"
            ]
        ]
    },
    {
        "id": "2ccc4ccc.308f94",
        "type": "inject",
        "z": "7b2a9965.03ad18",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 78.5,
        "y": 387,
        "wires": [
            [
                "6b80f48.b44ff0c"
            ]
        ]
    },
    {
        "id": "66704476.9f3e4c",
        "type": "debug",
        "z": "7b2a9965.03ad18",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 466.5,
        "y": 393,
        "wires": []
    }
]